body {
  background-color: #e5e4e2;
}
.top {
  font-family: "Abel", monospace;
  color: #6D7B8D;
}
h2 {
  color: #8C6C7A;
  font-weight: bold;
}
a, a:visited {
  color: #8C6C7A;
  font-decoration: none;
}
a:hover {
  font-decoration: underline;
}
a:active {
  font-weight: bold;
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 20px;
}
.calculator {
  margin: 3% auto;
  width: 300px;
  height: 480px;
  background-color: #bcc6cc;
  border-radius: 10px;
  border: 5px outset #a8b2b8;
}
.window {
  min-width: 265px;
  width: 265px;
  height: 90px;
  margin-top: 5px;
  padding: 0 2%;
  text-align: right;
  background-color: #E2F1CB;
  border-radius: 10px;
  border: 4px inset #a8b2b8;
  color: #262626;
  font-size: 30px;
  font-family: "Allerta",monospace;
}
.window p {
  padding: 0px;
  margin: 0px;
}
.calcButton {
  text-align: center;
  cursor: pointer;
  width: 35px;
  height: 35px;
  margin: 8px;
  padding-top: 5px;
  border-radius: 10px;
  border: 2px solid black;
  background-color: #6D7B8D;
  color: #e4eef4;
  font-family: "Abel", monospace;
  font-size: 30;
  font-weight: bold;
}
#eqButton {
  cursor: pointer;
  text-align: center;
  width: 35px;
  height: 90px;
  margin: 8px;
  padding-top: 5px;
  border-radius: 10px;
  border: 2px solid black;
  background-color: #6D7B8D;
  color: #e4eef4;
  font-family: "Abel", monospace;
  font-size: 30;
  font-weight: bold;
}
#zeroButton {
  cursor: pointer;
  text-align: center;
  width: 90px;
  height: 35px;
  margin: 8px;
  padding-top: 5px;
  border-radius: 10px;
  border: 2px solid black;
  background-color: #6D7B8D;
  color: #e4eef4;
  font-family: "Abel", monospace;
  font-size: 30;
  font-weight: bold;
}
.redButton {
  background-color: #8C6C7A;
}
